# VSCode settings
.vscode/
*.code-workspace

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
.idea/
*.log

# Conda
*.conda
*.ipynb_checkpoints

# Environment variables / API keys
.env
credentials.json
token.json

# Data
*.db
*.sqlite
*.log
todo_list.json

# OS
.DS_Store

# Streamlit
.streamlit/config.toml
